services:
  api:
    build: ./server
    environment:
      - MONGODB_URI=mongodb://vk-comments-db:27017
    ports:
      - "3001:3001"
    depends_on:
      - db
    container_name: vk-comments-api
  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - api
    container_name: vk-comments-client
  db:
    image: mongo
    container_name: vk-comments-db
