.title, .text, .table_title {
    margin-top: 20px;
    font-size: 14pt;
    background-color: white;
    border-radius: 8px;
    padding: 1px 40px;
    text-align: center;
    font-family: Roboto, sans-serif;
    border: 1px solid black;
    text-decoration: none;
}

.text{
    margin-top: 10px;
}

.table_title{
    margin-top: 30px;
}

.table_wrap {
    overflow-y: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.friends_table{
    margin-right: 30px;
    height: fit-content;
}
